swagger: '2.0'

### information start ###
info:
  description: work.muxixyz.com API
  version: 1.0.0
  title: Work API
  contact:
    email: shiina_orez@qq.com
  #license
### information end ###

host: work.muxixyz.com
basePath: /api/v1.0
schemes:
  - https
  - http

### tag start ###

tags:
  - name: auth
    description: 身份验证服务

  - name: management
    description: 成员管理服务

  - name: feed
    description: feed流服务

  - name: message
    description: 消息服务

  - name: project
    description: 项目服务

  - name: status
    description: 进度服务

### tag end ###

### auth start ###

securityDefinitions:

  basic:
    type: basic
    description: http basic auth,即在请求头中添加Authorization字段，内容为base64.encode(“邮箱:muxi304”)

  token:
    type: apiKey
    description: token,然后在请求头中添加Authorization字段，内容为base64.encode(“token:”)
    name: token
    in: header

### auth end ###

### path start ###

paths:
  /auth/signup/:
    post:
      tags:
        - auth
      summary: Signup a account.
      description: Just save a list of user.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: POSTdata
          in: body
          description: data to fill the segments
          schema:
            required:
              - name
              - email
            properties:
              name:
                type: string
              email:
                type: string
              avatar:
                type: string
              tel:
                type: string
              teamID:
                type: integer
      responses:
        200:
          description: Signup successfully
        401:
          description: User already exist
  /auth/login/:
    post:
      tags:
        - auth
      summary: Login a account
      description: Get a token formed by user-info
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: POSTdata
          in: body
          description: data to mark who want a token
          schema:
            required:
              - username
            properties:
              username:
                type: string
      responses:
        200:
          description: Return a token
          schema:
            required:
              - token
            properties:
              token:
                type: string
  /auth/verify/:
     post:
      tags:
        - auth
      summary: API for verify the token
      description: verify token out of ddl
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: MetaData
          in: body
          description: token
          schema:
            required:
              - token
            properties:
              token:
                type: string
      responses:
        200:
          description: OK
        401:
          description: FAIL
  /group/new/:
    post:
      tags:
        - management
      summary: post a new group
      description: a groupName and a user list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: POSTdata
          in: body
          description: data to set a enw group
          schema:
            required:
              - groupName
              - userList
            properties:
              groupName:
                type: string
              userlist:
                type: array
                items:
                  required:
                    - userID
                  properties:
                    userID:
                      type: integer
      responses:
        200:
          description: OK
        401:
          description: verify failed
      security:
      - token: []
  /group/{gid}/userList/:
    get:
      tags:
        - management
      summary: group user list
      description: get a user list by group id 
      produces:
        - application/json
      parameters:
        - in: path
          name: gid
          description: groupID
          required: true
          type: integer
        - in: path
          name: page
          description: default=1
          required: true
          type: integer
      responses:
        200:
          description: user list
          headers:
            links:
              type: string
              description: next page & last page url
          schema:
            type: array
            items:
              required:
                - username
                - userID
                - groupName
                - role
                - email
              properties:
                username:
                  type: string
                userID:
                  type: integer
                groupName:
                  type: string
                role:
                  type: integer
                email:
                  type: string
      security:
      - token: []
  /group/list/:
    get:
      tags:
        - management
      summary: get a group list
      description: verify token and get a list
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              required:
                - groupID
                - groupName
                - userCount
              properties:
                groupID:
                  type: integer
                groupName:
                  type: string
                userCount:
                  type: integer
      security:
      - token: []            
  /project/{pid}/userList/:
    get:
      tags:
        - management
      summary: get project user list
      description: get a list of user by projectID
      produces:
        - application/json
      parameters:
        - in: path
          name: pid
          description: projectID
          required: true
          type: integer
      responses:
        200:
          description: user list
          schema:
            type: array
            items:
              required:
                - username
                - userID
                - avatar
              properties:
                username:
                  type: string
                userID:
                  type: integer
                avatar:
                  type: string 
      security:
      - token: []    
  /user/{uid}/project/list/:
    get:
      tags:
        - management
      summary: get a project list
      description: verify token and get a list,uid==0 is all project list
      produces:
        - application/json
      parameters:
        - in: path
          name: uid
          description: userID
          required: true
          type: integer
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              required:
                - projectID
                - projectName
                - userCount
              properties:
                projectID:
                  type: integer
                projectName:
                  type: string
                userCount:
                  type: integer
      security:
      - token: []
  /user/2bMember/:
    post:
      tags:
        - management
      summary: accept a new member
      description: receive a user ID
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: POSTdata
          in: body
          description: userID
          schema:
            required:
              - userID
            properties:
              userID:
                type: integer
      responses:
        200:
          description: OK
        401:
          description: verify failed
      security:
      - token: []
  /user/addAdmin/:
    post:
      tags:
        - management
      summary: super user add someone on admin list
      description: verify token and add a FK
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: POSTdata
          in: body
          description: who are the lucky dog
          schema:
            required:
              - superuser
              - luckydog
            properties:
              superuser:
                type: string
              luckydog:
                type: string
      responses:
        200:
          description: luckydog be a admin
        407:
          description: ddl
        408:
          description: auth fail
      security:
      - token: []
  /user/{uid}/managePro/:
    post:
      tags:
        - management
      summary: project management
      description: get a list of project,and change user's project list
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: uid
          description: user ID 
          required: true
          type: integer
        - name: POSTdata
          in: body
          description: data to change projects
          schema:
            required:
              - projectList
            properties:
              projectList:
                type: array
                items:
                  required:
                    - projectID
                  properties:
                    projectID:
                      type: integer
      responses:
        200:
          description: change it successfully
        401:
          description: verify failed
      security:
      - token: []  
  /user/{uid}/manageGroup/:
    post:
      tags:
        - management
      summary: superuser change member's group
      description: just receive a groupID  
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: uid
          description: user ID
          required: true
          type: integer
        - name: POSTdata
          in: body
          description: groupID
          schema:
            required:
              - groupID
            properties:
              groupID:
                type: integer
      responses:
        200:
          description: OK
        401:
          description: verify failed
      security:
      - token: []
  /user/{uid}/setRole/:
    post:
      tags:
        - management
      summary: superuser set user's role
      description: receive a number and change it
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: uid
          description: user ID
          required: true
          type: integer
        - name: POSTdata
          in: body
          description: role
          schema:
            required:
              - role
            properties:
              role:
                type: integer
      responses:
        200:
          description: OK
        401:
          description: verify failed
      security:
      - token: []
  /user/{uid}/setting/:
    post:
      tags:
        - management
      summary: user's setting
      description: setting about message and email service
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: uid 
          description: user ID
          required: true
          type: integer
        - name: POSTdata
          in: body
          description: message and email
          schema:
            required:
              - username
              - address
              - tel
              - message
              - email
            properties:
              username:
                type: string
              address:
                type: string
              tel:
                type: string
              message:
                type: boolean
              email:
                type: boolean
      responses:
        200:
          description: OK
        401:
          description: verify failed
      security:
      - token: []
  /feed/new/:
    post:
      tags:
        - feed
      summary: Add the events in the exchange
      description: KIND[1]process[2]file[3]comments[4]team. Create a events and send it to the exchange, and queue
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: POSTdata
          in: body
          description: data to create a event
          schema:
            required:
              - action
              - kind
              - sourceID
            properties:
              from:
                type: string
              action:
                type: string
              kind:
                type: integer
              sourceID:
                type: integer
      responses:
        200:
          description: feed add successfully
      security:
      - token: []
  /feed/list/:
    get:
      tags:
        - feed
      summary: API for getting a list of feeds
      description: Use mq's receive service to get feed from different queue.
      produces:
        - application/json
      parameters:
        - in: path
          name: page
          description: page to get
          required: true
          type: string
      responses:
        200:
          description: feed list
          headers:
            links:
              type: string
              description: next page & last page url
          schema:
            type: array
            items:
              required:
                - creator
                - time
                - action
                - kind
                - sourceID
              properties:
                creator:
                  type: string
                time:
                  type: string
                action:
                  type: string
                kind:
                  type: integer
                sourceID:
                  type: integer
      security:
      - token: []
  /project/{pid}/file/{fid}/comment/{cid}/:
    get:
      tags:
        - project
      summary: get information of a comment by id
      description: get username,avatar,time,including
      produces:
        - application/json
      parameters:
        - in: path
          name: cid
          description: comment id
          required: true
          type: integer
        - in: path
          name: pid
          description: project ID
          required: true
          type: integer
        - in: path
          name: fid
          description: file ID
          required: true
          type: integer
      responses:
        200:
          description: OK
          schema:
            required:
              - username
              - avatar
              - time
              - content
        401:
          description: verify failed
        402:
          description: can't find comment
      security:
      - token: []
    delete:
      tags:
        - project
      summary: delete a comment by id
      description: admin
      produces:
        - application/json
      parameters:
        - in: path
          name: cid
          description: comment id
          required: true
          type: integer
        - in: path
          name: pid
          description: project ID
          required: true
          type: integer
        - in: path
          name: fid
          description: file ID
          required: true
          type: integer
      responses:
        200:
          description: OK
        401:
          description: verify failed
        402:
          description: can't find
      security:
      - token: []
  /project/{pid}/file/{fid}/comments/:
    get:
      tags:
        - project
      summary: get a list of comment
      description: get
      produces:
        - application/json
      parameters:
        - in: path
          name: pid
          description: project ID
          required: true
          type: integer
        - in: path
          name: fid
          description: file ID
          required: true
          type: integer
        - in: path
          name: page
          description: default=1
          required: true
          type: integer
      responses:
        200:
          description: OK
          headers:
            links:
              type: string
              description: next page & last page url
          schema:
            required:
              - commentList
            properties:
              commentList:
                type: array
                items:
                  required:
                    - username
                    - avatar
                    - time
                    - content
                  properties:
                    username:
                      type: string
                    avatar:
                      type: string
                    time:
                      type: string
                    content:
                      type: string
        401:
          description: verify failed
        402:
          description: project or file not found
      security:
      - token: []
    post:
      tags:
        - project
      summary: comment a file or doc
      description: verify and post 
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: pid
          description: project ID
          required: true
          type: integer
        - in: path
          name: fid
          description: file or doc ID
          required: true
          type: integer
        - name: POSTdata
          in: body
          description: post a new comment
          schema:
            required:
              - content
            properties:
              content:
                type: string
      responses:
        200:
          description: OK
        401:
          description: verify failed
        402:
          description: project or file not found       
      security:
      - token: []
  /message/new/:
    post:
      tags:
        - message
      summary: Make a new message to user.
      description: KIND[1]process[2]file[3]comments[4]team. Create a events and send it to the exchange, and queue
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: POSTdata
          in: body
          description: data to make a message
          schema:
            required:
              - receiver
              - maker
              - action
              - kind
              - sourceID
            properties:
              receiver:
                type: string
              maker:
                type: string
              action:
                type: string
              kind:
                type: integer
              sourceID:
                type: integer
      responses:
        200:
          description: message add successfully
      security:
      - token: []
  /message/list/:
    get:
      tags:
        - message
      summary: API for getting a list of massages
      description: Get a list of message by two ways.
      produces:
        - application/json
      parameters:
        - in: header
          name: kind
          description: KIND[1]hover[0]click
          required: true
          type: string
        - in: path
          name: page
          description: default=1
          required: true
          type: integer
      responses:
        200:
          description: message list
          headers:
            links:
              type: string
              description: next page & last page url
          schema:
            type: array
            items:
              required:
                - sourceID
                - fromName
                - fromAvatar
                - time
                - sourceKind
                - readed
              properties:
                sourceID:
                  type: integer
                fromName:
                  type: string
                fromAvatar:
                  type: string
                time:
                  type: string
                sourceKind:
                  type: integer
                readed:
                  type: boolean
      security:
      - token: []
  /message/readAll/:
    post:
      tags:
        - message
      summary: click to read all messages
      description: verify and change all unreaded message
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: page
          description: default=1
          required: true
          type: integer
        - name: POSTdata
          in: body
          description: username
          schema:
            required:
              - username
            properties:
              username:
                type: string
      responses:
        200:
          description: OK
          headers:
            links:
              type: string
              description: next page & last page url
        401:
          description: verify failed
      security:
      - token: []
  /message/{username}/{mid}/:
    get:
      tags:
        - message
      summary: message information
      description: verify token and find id
      produces:
        - application/json
      parameters:
        - in: path
          name: mid
          description: messageID
          required: true
          type: integer
        - in: path
          name: username
          description: user's name to find user and verify
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            required:
              - msgID
              - fromName
              - time
              - action
              - sourceKind
              - sourceID
            properties:
              msgID:
                type: integer
              fromName:
                type: string
              time:
                type: string
              action:
                type: string
              sourceKind:
                type: integer
              sourceID:
                type: integer
        401:
          description: verify failed
        402:
          description: user isn't exist
        403:
          description: message isn't exist
      security:
      - token: []
  /status/new/:
    post:
      tags:
        - status
      summary: post a statu
      description: receive including and title 
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: POSTdata
          in: body
          description: content and title
          schema:
            required:
              - content
              - title
            properties:
              content:
                type: string
              title:
                type: string
      responses:
        200:
          description: OK
        401:
          description: verify failed
      security:
      - token: []
  /status/{sid}/:
    get:
      tags:
        - status
      summary: get information of statu
      description: content title time like and user
      produces:
        - application/json
      parameters:
        - in: path
          name: sid
          description: statu ID
          required: true
          type: integer
      responses:
        200:
          description: OK
          schema:
            required:
              - title
              - content
              - time
              - likeCount
              - commentCount
              - userID
              - username
              - commentList
            properties:
              title:
                type: string
              content:
                type: string
              time:
                type: string
              likeCount:
                type: integer
              commentCount:
                type: integer
              userID:
                type: integer
              username:
                type: string
              commentList:
                type: array
                items:
                  required:
                    - username
                    - avatar
                    - time
                    - content
                  properties:
                    username:
                      type: string
                    avatar:
                      type: string
                    time:
                      type: string
                    content:
                      type: string
      security:
      - token: []
    delete:
      tags:
        - status
      summary: delete a statu
      description: delete
      produces:
        - application/json
      parameters:
        - in: path
          name: sid
          description: status ID
          required: true
          type: integer
      responses:
        200:
          description: OK
        401:
          description: verify failed
      security:
      - token: []
  /status/list/:
    get:
      tags:
        - status
      summary: get a list of status
      description: one page have 20 status
      produces:
        - application/json
      parameters:
        - in: path
          name: page
          description: page number
          required: true
          type: integer
      responses:
        200:
          description: OK
          headers:
            links:
              type: string
              description: next page & last page url
          schema:
            required:
              - statuList
            properties:
              statuList:
                type: array
                items:
                  required:
                    - username
                    - time
                    - avatar
                    - content
                    - likeCount
                    - commentCount
                  properties:
                    username:
                      type: string
                    time:
                      type: string
                    avatar:
                      type: string
                    content:
                      type: string
                    likeCount:
                      type: integer
                    commentCount:
                      type: integer
        401:
          description: verify failed
      security:
      - token: []
  /status/{sid}/comment/{cid}/:
    get:
      tags:
        - status
      summary: get information of a comment by id
      description: get username,avatar,time,including
      produces:
        - application/json
      parameters:
        - in: path
          name: cid
          description: comment id
          required: true
          type: integer
        - in: path
          name: sid
          description: statu ID
          required: true
          type: integer
      responses:
        200:
          description: OK
          schema:
            required:
              - username
              - avatar
              - time
              - content
            properties:
              useranme:
                type: string
              avatar:
                type: string
              time:
                type: string
              content:
                type: string
        401:
          description: verify failed
        402:
          description: can't find comment
      security:
      - token: []
    delete:
      tags:
        - status
      summary: delete a comment by id
      description: admin
      produces:
        - application/json
      parameters:
        - in: path
          name: cid
          description: comment id
          required: true
          type: integer
        - in: path
          name: sid
          description: statu ID
          required: true
          type: integer
      responses:
        200:
          description: OK
        401:
          description: verify failed
        402:
          description: can't find
      security:
      - token: []
  /status/{sid}/comments/:
    get:
      tags:
        - status
      summary: get a list of statu
      description: get
      produces:
        - application/json
      parameters:
        - in: path
          name: sid
          description: statu ID
          required: true
          type: integer
        - in: path
          name: page
          description: default=1
          required: true
          type: integer
      responses:
        200:
          description: OK
          headers:
            links:
              type: string
              description: next page & last page url
          schema:
            required:
              - commentList
            properties:
              commentList:
                type: array
                items:
                  required:
                    - username
                    - avatar
                    - time
                    - content
                  properties:
                    username:
                      type: string
                    avatar:
                      type: string
                    time:
                      type: string
                    content:
                      type: string
        401:
          description: verify failed
        402:
          description: statu not found
      security:
      - token: []
    post:
      tags:
        - status
      summary: comment a statu
      description: verify and post 
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: sid
          description: status ID
          required: true
          type: integer
        - name: POSTdata
          in: body
          description: post a new comment
          schema:
            required:
              - content
            properties:
              content:
                type: string
      responses:
        200:
          description: OK
        401:
          description: verify failed
        402:
          description: statu not found
      security:
      - token: []
  /project/new/:
    post:
      tags:
        - project
      summary: build a new project
      description: admin can build a project by this API
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: POSTdata
          in: body
          description: required information to post a new project
          schema:
            required:
              - username
              - projectname
              - userlist
            properties:
              username:
                type: string
              projectname:
                type: string
              userlist:
                type: array
                items:
                  required:
                    - userID
                    - userName
                  properties:
                    userID:
                      type: integer
                    userName:
                      type: string
              intro:
                type: string
      responses:
        200:
          description: OK
        401:
          description: verify failed
        403:
          description: insufficient permissions
      security:
      - token: []
  /project/{pid}/member/:
    get:
      tags:
        - project
      summary: get a member list
      description: get
      produces:
        - application/json
      parameters:
        - in: path
          name: pid
          description: projectID
          required: true
          type: integer
      responses:
        200:
          description: OK
          schema:
            required:
              - memberList
            properties:
              memberList:
                type: array
                items:
                  required:
                    - userID
                    - username
                    - avatar
                  properties:
                    userID:
                      type: integer
                    username:
                      type: string
                    avatar:
                      type: string
      security:
      - token: []
    post:
      tags:
        - project
      summary: pull someone in this project
      description: get a user list and add it into project
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: pid
          description: projectID
          required: true
          type: integer
        - name: POSTdata
          in: body
          description: data to verify and get user list
          schema:
            required:
              - userlist
              - adminname
            properties:
              userlist:
                type: array
                items:
                  required:
                    - userID
                  properties:
                    userID:
                      type: integer
              username:
                type: string
      responses:
        200:
          description: email have been send
      security:
      - token: []
    put:
      tags:
        - project
      summary: change the list of project members
      description: get groupID and list ,and change it
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: pid
          description: projectID
          required: true
          type: integer
        - name: POSTdata
          in: body
          description: userlist&group
          schema:
            required:
              - groupID
              - userList
            properties:
              groupID:
                type: integer
              userList:
                type: array
                items:
                  required:
                    - userID
                  properties:
                    userID:
                      type: integer
      responses:
        200:
          description: change it successfully
        401:
          description: verify failed     
      security:
      - token: []
  /project/{pid}/:
    get:
      tags:
        - project
      summary: get the name & including of introduction
      description: return a string
      produces:
        - application/json
      parameters:
        - in: path
          name: pid
          description: projectID
          required: true
          type: integer
      responses:
        200:
          description: OK
          schema:
            required:
              - intro
              - name
              - userCount
            properties:
              intro:
                type: string
              name:
                type: string 
              userCount:
                type: integer 
      security:
      - token: []
    delete:
      tags:
        - project
      summary: delete a project
      description: only superuser
      produces:
        - application/json
      parameters:
        - in: path
          name: pid
          description: projectID
          required: true
          type: integer
      responses:
        200:
          description: OK
        401:
          description: verify failed
      security:
      - token: []
    post:
      tags:
        - project
      summary: edit introduction & name
      description: change introduction & name
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: pid
          description: projectID
          required: true
          type: integer
        - name: POSTdata
          in: body
          description: change including
          schema:
            required:
              - intro
              - name
            properties:
              intro:
                type: string
              name:
                type: string
      responses:
        200:
          description: edit successfully
        401:
          description: verify failed
        403:
          description: insufficient permissions
      security:
      - token: []